
.home-page {
    width: 100%;
    min-height: 100vh;
    position: relative;
  }
  
  .home-page::before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    background-image: url("/public/images/image.jpg");
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
  }
  
  .main-container {
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
    z-index: 1;
    top: 0;
  }
  .logo {
    padding-top: 30px;
  }
  
  .resume-photo {
    width: 250px;
    height: 300px;
    border-radius: 90px;
  }
  
  .intro-text p {
    display: inline-block;
    font-size: 30px;
    color: white;
  }
  
  .typed-text {
    display: block;
    justify-content: center;
    align-items: center;
  }
  
  .feature-text {
    display: inline-block;
    font-size: 40px;
    font-weight: bold;
    color: white;
  }
  
  .down-icon {
    position: relative;
    bottom: 0px;
    margin-top: 40px;
    display: block;
    color: white;
  }
  
  .down-icon:hover {
    cursor: pointer;
  }

  .main-content {
    margin-top: 180px;
    padding: 20px 10px 20px 10px;
  }
  
  .heading-about {
    font-size: 30px;
    font-weight: bold;
    color: white;
  }

  .heading-why {
    font-size: 30px;
    font-weight: bold;
    color: black;
  }
  
  .heading:hover {
    cursor: pointer;
  }

  .about-section {
    padding: 10px 10px 10px 10px;
    background-color: #222d5a;
  }
  
  .about-content {
    font-size: 24px;
    font-weight: normal;
    color: white;
  }

  .why-section {
    padding: 10px 10px 10px 10px;
    background-color: white;
  }
  
  .why-content {
    font-size: 24px;
    font-weight: normal;
    color: black;
  }

  .scroll-down {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
  }

  .scroll-up {
    background-color: transparent;
    border: none;
    color: black;
    cursor: pointer;
  }
  